.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    button, div {
        display: flex;
        align-items: center;
        justify-content: center   
    }
    button {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
}